*{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
#logo{
    width: 3rem;
}

li:hover{
    background-color: rgb(255, 98, 0);
    border: 0
}

.doar{
    width: 1.5rem;
}

.btn-n img {
    filter: invert(100%) brightness(100%);
    transition: filter 0.3s ease;
}

.btn-n{
    color: white;
    background-color:#ff5528 ;
    border-radius: 2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0;
}

.btn-n:hover {
    color: white;
    background-color:#ff5528 ;
    border:2px solid white;
    border-radius: 2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn-b{
    color: white;
    background-color:#ff5528 ;
    border-radius: 2rem;
}
.btn-b:hover{
    color: white;
    background-color:black ;
    border-radius: 2rem;
}

.offcanvas-body{
    margin: 0;
    padding: 0;
}

.nav-link {
    margin-left: 1rem;
}

.carousel{
    margin-bottom: 3rem;
}

.col1{
    margin-bottom: 3rem ;
    margin-top: 1rem;
}

.col2{
    margin-bottom: 3rem ;
    padding: 0;
}

.img-whats{
    width: 3rem;
}

.whats-button{
    z-index: 1;
}

.btn-c{
    color: #ff5528;
    background-color:#fff ;
    border-radius: 2rem;
    margin-bottom: 3rem;
    width: 10rem;
}
.btn-c:hover{
    color: white;
    background-color:black ;
    border-radius: 2rem;
    margin-bottom: 3rem;
    width: 10rem;
}

.ajude{
    background-color: #ff5528;
    color: #fff;
}

.help{
    font-size: 2.5rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.footer{
    padding-top: 3rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    background-color: #000;
    color: #fff;
}

.img-footer{
    width: 1rem;
}

.text-white{
    color: #fff!important;
    text-decoration: none;
}

.p-footer{
    color: #000!important;
}

.a-footer{
    text-decoration: none!important;
    color: #000;
}

.a-footer:hover{
    text-decoration: none!important;
    color: #0000FF;
}

.heart{
    color: #ff5528;
}