*{
    font-family: Space Grotesk sans-serif;
}
#logo{
    width: 3rem;
}

li:hover{
    background-color: rgb(255, 98, 0);
    border: 0
}

#doar{
    width: 1.5rem;
}

/* .btn-n img {
    filter: brightness(0) saturate(100%) invert(70%) sepia(100%) saturate(1000%) hue-rotate(-20deg) brightness(100%) contrast(90%);
    transition: filter 0.3s ease;
}

.btn-n:hover img {
    filter: none;
} */

.btn-n img {
    filter: invert(100%) brightness(100%);
    transition: filter 0.3s ease;
}

.btn-n{
    color: white;
    background-color:#ff5528 ;
    border-radius: 2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0;
}

.btn-n:hover {
    color: white;
    background-color:#ff5528 ;
    border:2px solid white;
    border-radius: 2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn-b{
    color: white;
    background-color:#ff5528 ;
    border-radius: 2rem;
}
.btn-b:hover{
    color: white;
    background-color:black ;
    border-radius: 2rem;
}

.offcanvas-body{
    margin: 0;
    padding: 0;
}

.nav-link {
    margin-left: 1rem;
}

.carousel{
    margin-bottom: 3rem;
}

.col1{
    margin-bottom: 3rem ;
    margin-top: 1rem;
}

.col2{
    margin-bottom: 3rem ;
    padding: 0;
}

